@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

.App {
  height: 100%;
  margin: 0%;
  overflow: hidden;
  background-color: #efe6e1;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.box {
  --mask:
    radial-gradient(67.08px at 90.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/51% 120px repeat-y,
    radial-gradient(67.08px at -60px 50%,#0000 99%,#000 101%) 30px 50%/calc(51% - 30px) 120px repeat-y,
		radial-gradient(67.08px at calc(100% - 90.00px) 50%,#000 99%,#0000 101%) 100% calc(50% - 60px)/51% 120px repeat-y,
    radial-gradient(67.08px at calc(100% + 60.00px) 50%,#0000 99%,#000 101%) calc(100% - 30px) 50%/calc(51% - 30px) 120px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TimeUnit{
  font-size: large;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.WeddingDate {
  font-size: calc(10px + 4vmin);
}



.Initials {
  font-size: calc(20px + 5vmin);
}

content {
  width: auto;
}